!!!
%html
  %head
    %title Taulbee Survey Data
    :css
      .heading{
      	color:white;
      	background-color:#500000;
      	height:50px;
      	margin:0;
      	padding:0;
      	font-size:40px;
      }
      
      .centered{
      	text-align:center;
      }
      
      table, th, td {
        border: 1px solid black;
      }
      
      th, td {
        padding: 1px 5px 1px 5px;
      }
      
      h3{
        color: #800000;
      }
      
      h4{
        color: #800000;
      }
      
      
  %body
  %form
    %h1.centered.heading Taulbee Survey
    %p
      %a{:id => "Home", :href => site_index_path}
        %img{:height => "30", :src => "/images/homepageicon.jpg", :width => "30"}/
      %a{:id => "Back", :href => site_studentFilterSelection_path}
        %img{:height => "30", :src => "/images/previous-icon.png", :width => "30"}/
  
    
    
    
    
    -#table used to display all results

    
    -#%img{:align => "center", :height => "250", :src => "/images/table.png", :width => "600"}/
    
    

  %h3 Results to Download
  %hr
  %h4 PhD Enrollment

  #{link_to "Computer Science only.csv", formE_1_path(params,format: 'csv',:year=>@year)}
  %br
  #{link_to "Computer Engineering only.csv", formE_2_path(format: 'csv',:year=>@year)}
  %hr
  
  %h4 other PhD Questions
  
  -#%label Newly-admitted PhD students enroll this fall
  #{link_to "Number of newly admitted PhD Students.csv", formF_3_path(format: 'csv',:year=>@year)}
  %br
  #{link_to "Number of PhD students from outside North America.csv", formF_4_path(format: 'csv',:year=>@year)}
  %hr
  
  %h4 Masters Enrollment

  #{link_to "Computer Science only.csv", formI_1_path(format: 'csv',:year=>@year)}
  %br
  #{link_to "Computer Engineering only.csv", formI_2_path(format: 'csv',:year=>@year)}
  %hr
  
  %h4 other Masters Questions

  -#%label Newly-admitted Masters students enroll this fall
  #{link_to "Number of Masters Students newly admitted.csv", formJ_1_path(format: 'csv',:year=>@year)}
  %br
  #{link_to "Number of Masters students from outside North America.csv", formJ_2_path(format: 'csv',:year=>@year)}
  %hr
  
  %h4 Bachelors Enrollment

  #{link_to "Computer Science only.csv", formM_1_path(format: 'csv',:year=>@year)}
  %br
  #{link_to "Computer Engineering only.csv", formM_2_path(format: 'csv',:year=>@year)}
  %hr
 
  // %br
  // %br
  // =link_to "Repeat Query", site_studentFilterSelection_path(:repeat => 1)
